body {
  padding: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

.image{
  --clip-start: ellipse(0 0 at 0 0); 
  --clip-end: ellipse(150% 150% at 0 0);
}

.Imagenes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.Imagenes .image{
  position: relative;
  padding-bottom: 100%;
}

.Imagenes .image img {
  height: 25em;
  width: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.Imagenes .image img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-start);
          clip-path: var(--clip-start);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  filter: grayscale(2) brightness(60%);
}

.Imagenes .image:hover img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-end);
          clip-path: var(--clip-end);
}